body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("plant1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #cde2d0;
    opacity: 0.7;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-size: 4vw; /* Responsive font size based on viewport width */
    color: green; /* Lighter green shade */
    margin-right: 10px;
}

select {
    font-size: 4vw; /* Responsive font size based on viewport width */
    padding: 2vw; /* Responsive padding based on viewport width */
    border: 1px solid green; /* Lighter green shade */
    border-radius: 5px;
    background-color: #cde2d0;
    color: green; /* Lighter green shade */
    height: 8vh; /* Responsive height based on viewport height */
    width: 100%; /* Responsive width */
}

select:focus {
    outline: none;
}

/* Lighter green aesthetic for the dropdown */
select option {
    font-size: 3.5vw; /* Responsive font size based on viewport width */
    background-color: #cde2d0; /* Lighter green shade */
    color: green;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    label, select {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}
